{{ if or .Params.math .Site.Params.math }}
<link crossorigin="anonymous" integrity="sha384-rcA2RVJzSlCPMM/Z70680AagOBuTdqp/Fm5J8FofE04pbkQ08G1F2Y7m5t6B/nB/" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css">
<script crossorigin="anonymous" integrity="sha384-bYQxHkO8vHPM1Xb0nN2hX5nJ5uJtZ8K8K/Xh8/Gf25X/E0jY/bXbXnXXvX" src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-QW21yQpW8e0hWv+lA11t9V2L/M1S//G2Ie71P1Bq3eU1X2qWj/Xj3A2t81C" src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false},
                {left: "\\(", right: "\\)", display: false},
                {left: "\\[", right: "\\]", display: true}
            ],
            throwOnError : false
        });
    });
</script>
{{ end }}