<meta name="google-site-verification" content="qCGFWdUXfiOYY_tPwRMDe-MWm2GWpDfWlBw4y881ybg" />
{{ if or .Params.math .Site.Params.math }}
<!-- KaTeX CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css" crossorigin="anonymous">

<!-- KaTeX JS (带有 defer 确保按顺序加载且不阻塞页面) -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js" crossorigin="anonymous"></script>

<!-- Auto-render JS，并且在它加载完成后立刻执行渲染 -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js" crossorigin="anonymous"
    onload="renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '\\[', right: '\\]', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false}
        ],
        throwOnError : false
    });"></script>
{{ end }}
